<footer class="bg-dark text-white text-center py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>Sobre Nosotros</h5>
        <p>
          Somos CVK, una clínica veterinaria comprometida con el bienestar de tus mascotas.
          Ofrecemos servicios de calidad para cuidar de tu mejor amigo.
        </p>
      </div>

      <div class="col-md-4">
        <h5>Enlaces</h5>
        <ul class="list-unstyled">
          <li><a href="/" class="text-white">Inicio</a></li>
          <li><a href="/sobre_nosotros" class="text-white">Sobre Nosotros</a></li>
          <li><a href="/servicios" class="text-white">Servicios</a></li>
          <li><a href="/contacto" class="text-white">Contacto</a></li>
        </ul>
      </div>

      <div class="col-md-4">
        <h5>Contáctanos</h5>
        <p><i class="fa-solid fa-phone"></i> +503 2285-7930</p>
        <p><i class="fa-solid fa-envelope"></i> contactocvk.com</p>
        <div class="d-flex justify-content-center">
          <a href="#" class="text-white mx-2"><i class="fa-brands fa-facebook"></i></a>
          <a href="#" class="text-white mx-2"><i class="fa-brands fa-twitter"></i></a>
          <a href="#" class="text-white mx-2"><i class="fa-brands fa-instagram"></i></a>
        </div>
      </div>
    </div>

    <div class="mt-3">
      <p>&copy; 2024 CVK - Clínica Veterinaria Kayla. Todos los derechos reservados.        GIO.A</p>
    </div>
  </div>
</footer>

