<div class="image-container">
  <img src="assets/CLÍNICA VETERINARIA KAYLA_20241118_112514_0000.png" >
</div>
<br><br>
<div class="intro">
  <p>
    En <strong>Clinica veterinario Kayla CVK 🐾</strong>, nos apasiona cuidar de tus fieles compañeros.
    Desde cachorros juguetones hasta mascotas senior, ofrecemos un servicio integral para asegurar su bienestar.
    Nuestro equipo de veterinarios expertos y personal amable está comprometido a brindar la mejor atención,
    porque sabemos que tus mascotas son parte de tu familia.
  </p>
  <br>
  <p>
    Explora nuestra clínica, descubre nuestros servicios y deja que juntos hagamos que cada visita
    sea una experiencia positiva y saludable para tu amigo peludo. ¡Tu mascota merece lo mejor!
  </p>
</div>

<main>
  <section class="videos">
    <h2>Videos Destacados</h2>
    <div class="video-container">
      <div class="video">
        <iframe src="https://www.youtube.com/embed/-NVHn19CnDY" title="Video 1"></iframe>
        <p>Cuidando a nuestras mascotas</p>
      </div>
      <div class="video">
        <iframe src="https://www.youtube.com/embed/-Fc81B10TUk" title="Video 2"></iframe>
        <p>Curiosidades de los perros</p>
      </div>
    </div>
  </section>

  <section class="datos-curiosos">

<div class="contenedor">
  <h2>Datos Curiosos</h2>
  <div class="item">
    <img src="https://cdn0.ecologiaverde.com/es/posts/8/3/4/las_hormigas_no_duermen_438_0_600.webp" alt="Imagen 1">
    <p><strong>Las hormigas no duermen</strong><br>
      Las hormigas son insectos curiosos. Hacen guerras, pueden capturar a esclavos,
      siempre viven en comunidad y se organizan de una forma pasmosa para conseguir
      su comida y construir sus hogares. Sin duda, son imparables. Toda esta actividad
      quizá se explica porque son seres incapaces de dormir ni un solo segundo.</p>

  </div>
  <div class="item">
    <img src="https://cdn0.ecologiaverde.com/es/posts/8/3/4/las_abejas_organizadas_y_utiles_438_5_600.webp" alt="Imagen 2">
    <p><strong>Las abejas, organizadas y útiles</strong><br>
      Este animal, aunque nos de cosas tan beneficiosas como la miel y la cera, en realidad mata anualmente
      a más personas que los tiburones o los leones. Sin embargo, son insectos con grandes curiosidades.
      Por ejemplo, es una especie que vive en sociedad y se organiza impecablemente, al igual que las citadas hormigas.
      Las sociedades de abejas están ordenadas jerárquicamente y cada una cumple su misión, dependiendo de su edad.
      A más longeva sea la abeja, más responsabilidad tendrá dentro de su colmena.
    </p>
  </div>
  <div class="item">
    <img src="https://cdn0.ecologiaverde.com/es/posts/8/3/4/el_koala_y_su_pasion_por_dormir_438_6_600.webp" alt="Imagen 3">
    <p><strong>El koala y su pasión por dormir</strong><br>
      La siguiente de las curiosidades del reino animal tiene que ver con los koalas.
      Aunque sea la marmota quien se lleva la fama, si atendemos al dicho, los koalas,
      ese animal procedente de Australia tan exótico, puede llegar a dormir cerca de 22 horas diarias.
      También algunos leones, macho duermen más o menos lo mismo. Nada que ver con las incansables hormigas.
    </p>
  </div>
</div>
  </section>
</main>


