<div class="image-container">
  <img src="assets/Contactanos_20241118_120558_0000.png" >
</div>
<section class="info-contacto">
  <h2>Información de Contacto</h2>
  <p><i class="fa-solid fa-location-dot"></i><strong>Dirección:</strong> Panchimalco, San Salvaldor</p>
  <p><i class="fa-solid fa-phone"></i><strong>Teléfono:</strong>+503 2285-7930</p>
  <p><i class="fa-solid fa-at"></i><strong>Correo Electrónico:</strong></p>
  <p>
      <strong>Redes Sociales:</strong><br>
      <a href="https://facebook.com" target="_blank"><i class="fa-brands fa-square-facebook"></i> Facebook</a> |
      <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i> Instagram</a> |
      <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i> Twitter</a>
    </p>
</section>
<section class="ubicacion">
  <h2>Encuéntranos</h2>
  <p>Visítanos en nuestra clínica en el corazón de la ciudad:</p>
  <div class="mapa">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15511.00317722025!2d-89.18814600928006!3d13.612026643360528!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f63338d493ad683%3A0x6e0b2b52b6cfa915!2sPanchimalco!5e0!3m2!1ses!2ssv!4v1733117934137!5m2!1ses!2ssv"
      width="100%"
      height="300"
      style="border:0;"
      allowfullscreen=""
      loading="lazy">
    </iframe>
  </div>
</section>
