<div class="card horizontal-card">
  <img src="assets/eb97bbb120dc8871dbe0e8558f6f0312.jpg" class="card-img-left" alt="Descripción de la imagen">
  <div class="card-body">
    <br><br><br>
    <h5 class="card-title">REGISTRO DE USUARIO</h5>
    <br><br><br>
    <form>
      <div class="form-group">
        <label for="nombre">Usuario</label>
        <input type="text" id="nombre" required  name="nombre" class="form-control">
      </div>
      <div class="form-group">
        <label for="email">Contraseña</label>
        <input type="email" id="email" required name="email" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary">Registrarse</button>
    </form>
  </div>
</div>
