<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white text-center py-4">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">
    <img src="assets/1000000219-removebg-preview.png"  width="35" height="35" class="d-inline-block align-top" alt="mascotas">
    CVK
  </a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 nav">
      <li class="nav-item active">
        <a class="nav-link" href="">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sobre_nosotros">Sobre Nosotros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/servicios">Servicios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contacto">Contacto</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/registro">Registro</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/datos">Datos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/registro-datos">Registro | Datos</a>
      </li>

      <li class="nav-item" style="margin-left: 500px;" *ngIf="!estaLogueado()">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item" style="margin-left: 800px;" *ngIf="estaLogueado()">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>


<router-outlet></router-outlet>


