<div class="image-container">
  <img src="assets/Servicios_20241118_122449_0000.png" >
</div>

  <header>
    <h2>Ofrecemos una variedad de servicios para cuidar la salud y felicidad de tus mascotas.🐾</h2>
    <p></p>
  </header>

  <main>
    <section class="servicios">
      <h2>Nuestros Servicios</h2>
      <div class="servicio">
        <img src="https://via.placeholder.com/100" alt="Consulta Veterinaria">
        <div>
          <h3>Consulta Veterinaria General</h3>
          <p>Exámenes completos para asegurar la salud de tu mascota, desde chequeos regulares hasta diagnósticos especializados.</p>
        </div>
      </div>

      <div class="servicio">
        <img src="https://via.placeholder.com/100" alt="Vacunación">
        <div>
          <h3>Vacunación y Desparasitación</h3>
          <p>Protege a tu mascota de enfermedades comunes con nuestro programa de vacunación y desparasitación.</p>
        </div>
      </div>

      <div class="servicio">
        <img src="https://via.placeholder.com/100" alt="Cirugía">
        <div>
          <h3>Cirugía Veterinaria</h3>
          <p>Contamos con quirófanos equipados para realizar desde procedimientos menores hasta cirugías avanzadas.</p>
        </div>
      </div>

      <div class="servicio">
        <img src="https://via.placeholder.com/100" alt="Peluquería">
        <div>
          <h3>Peluquería y Estética</h3>
          <p>Haz que tu mascota luzca y se sienta bien con nuestros servicios de baño, corte de pelo y cuidado estético.</p>
        </div>
      </div>

      <div class="servicio">
        <img src="https://via.placeholder.com/100" alt="Emergencias">
        <div>
          <h3>Atención de Emergencias 24/7</h3>
          <p>Estamos aquí para ayudarte en cualquier momento. Cuidamos de tu mascota cuando más lo necesita.</p>
        </div>
      </div>
    </section>
  </main>



