<div class="card horizontal-card">
  <img src="assets/99e2f879f7823d32ce100075290e674c.jpg" class="card-img-left" alt="Descripción de la imagen">
  <div class="card-body">
    <br><br><br>
    <h5 class="card-title">INICIAR SESION</h5>
    <br><br><br>
    <form #miFormulario="ngForm" (ngSubmit)="login(miFormulario)">
      <div class="form-group">
        <label>Correo Electronico</label>
        <input type="email" name="email" class="form-control" ngModel required>
      </div>
      <div class="form-group">
        <label>Contraseña</label>
        <input type="password" name="password" class="form-control" ngModel required>
      </div>
      <button type="submit" class="btn btn-primary">Iniciar Sesion</button>
    </form>
  </div>
</div>
