<div class="image-container">
  <img src="assets/Datos_20241118_113746_0000.png" >
</div>
<div class="container">
  <div class="row">
      <div class="col">
          <div>
              <a [routerLink]="['actualizar', indice]">
                  {{indice+1}} {{mascotaLista.n_dueno}} {{mascotaLista.direccion}} {{mascotaLista.numero}}{{mascotaLista.correo}}
                  {{mascotaLista.n_mascota}}{{mascotaLista.tipo_mascota}}{{mascotaLista.edad}}{{mascotaLista.raza}}
              </a>
          </div>
      </div>
  </div>
</div>
