<div class="col">
  <div class="card h-100">
    <div class="card-body">
      <h5 class="card-title">{{ indice + 1 }}</h5>
      <p class="card-text">
        <strong>Datos del dueño</strong><br>
        <strong>Dueño:</strong> {{ mascotaLista.n_dueno }}<br>
        <strong>Dirección:</strong> {{ mascotaLista.direccion }}<br>
        <strong>Teléfono:</strong> {{ mascotaLista.numero }}<br>
        <strong>Correo:</strong> {{ mascotaLista.correo }}<br><br>
        <strong>Datos de la mascota</strong><br>
        <strong>Nombre de la mascota:</strong> {{ mascotaLista.n_mascota }} <br>
        <strong>Tipo de Mascota:</strong> {{ mascotaLista.tipo_mascota }}<br>
        <strong>Edad:</strong> {{ mascotaLista.edad }} meses<br>
        <strong>Raza:</strong> {{ mascotaLista.raza }}
      </p>
      <a class="btn btn-outline-warning" [routerLink]="['/actualizar', indice]"><i class="fa-regular fa-pen-to-square"></i>Actualizar</a>
      <a class="btn btn-outline-danger ml-1" [routerLink]="['/eliminar', indice]"><i class="fa-solid fa-trash"></i>Eliminar</a>
    </div>
  </div>
</div>
